@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажми для подтверждения регистрации</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

